@font-face {
    font-family: 'Loveness';
    src: url('./fonts/Loveness-jmO7.ttf') format('truetype'); 
    font-style: normal;
}
h1{
    text-align: center;
    font-family: "Loveness", "serif";
    font-size: 100px;    
    background-color: #FFD1DC;
    padding-top: 20px;
    color: #5c2233;
    padding: 0;
}


/* h2{
    display: inline-block;
} */
 /* #contact {
    float: right;
    margin-right: 50px;
}

#shop {
    float: left;
    margin-left: 50px;
} 

#search {
    padding-left: 270px ;
}  */

.header{
    display: flex;
    justify-content:space-between;
    padding-left: 80px;
    padding-right: 80px;
}





